/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nerko One", cursive;
  background-color: #add8e6;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 65%;
  margin: 10px auto;
}
/* /GENERAL */

/* HEADER */
header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 5.5em;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
/* /HEADER */

/* MAIN */
.table {
  width: 100%;
}

.row {
  width: 100%;
  margin-bottom: 15px;
}

.row .card {
  width: calc(100% / 4 - 20px);
  margin: 10px;
  background-color: white;
  float: left;
  border-radius: 5%;
  padding: 2%;
  text-align: center;
  font-size: 2em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.card img {
  width: 85%;
}

.card:hover {
  display: initial;
}

.layover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/pattern.png);
  background-size: contain;
}

.card:hover .layover {
  display: none;
}

.card .card-text {
  color: #e61986;
}

.card:hover .card-text {
  color: #e67919;
}
/* MAIN */

/* FOOTER */
footer p {
  text-align: center;
  font-size: 19px;
}
/* /FOOTER */
